In [ ]:
import pandas as pd
import pymysql

In [ ]:
conn = pymysql.connect(host="localhost",port=3306,user='root',password='rps12345',)
conn

In [ ]:
query = "select * from empdb.employee"

In [ ]:
df = pd.read_sql(query , con= conn)

In [ ]:
df.head()