In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("empinfo.csv")

In [ ]:
type(df)

In [ ]:
# display first 2 rows 
df.head(2)

In [ ]:
# display last 3 rows
df.tail(3)

In [ ]:
output = df.tail(3)
output.to_csv("last3rows.csv")

In [ ]:
# displays no. of rows and columns
df.shape

In [ ]:
# understand the df
df.info()

In [ ]:
# display datatypes only
df.dtypes

In [ ]:
# describe dataframe 
df.describe()

In [ ]:
df

In [ ]:
# display only one column
df['workclass']

In [ ]:
# display workclass and occupation 
df[['workclass','occupation','age']]

In [ ]:
# redirecting the output to file
df[['workclass','occupation']].to_csv("fewcolumns.csv")

In [ ]:
# display all unique work classes
df['workclass'].unique()

In [ ]:
# display no. of unique work classes
df['workclass'].nunique()

In [ ]:
# display all unique work classes
list(df['workclass'].unique())

In [ ]:
# display the no. of occurences of each workclass
df['workclass'].value_counts()

In [ ]:
# df.iloc[rows , columns ]
df.iloc[5:8] 
# wil display all the columns

In [ ]:
#df.iloc[rows , columns ]
df.iloc[5:8 ,  2:4]

In [ ]:
df['workclass']

In [ ]:
# single condition 
cond = df['workclass'] == ' Private'
df[cond]

In [ ]:
df[ df['workclass'] == ' Private' ]

In [ ]:

cond1 = df['workclass'] == ' Private'
cond2 = df['gender'] == " Female"

df[cond1 & cond2]

In [ ]:
#df[(cond1) & (cond2)]
df[(df['workclass'] == ' Private') & (df['gender'] == " Female")]

In [ ]:

df.shape

In [ ]:
## drop duplicates
# we are just displaying the output to the screen
df.drop_duplicates()

In [ ]:
# if you want to remove duplidates permanently
# we are removing duplicates and updating the same datafrme
df = df.drop_duplicates()
df

#or 
df.drop_duplicates(inplace=True)

In [ ]:
# sorting rows by age ( low to high)
df.sort_values(by = 'age')

In [ ]:
# sorting in descending order
df.sort_values(by = 'age', ascending=False)

In [ ]:
## missing values
df.dropna()  # drop rows with any column having null data

In [ ]:
## fill values
df.fillna(0) # replace all null data with 0

In [ ]:
df['age'].mean()

In [ ]:
counts = df['gender'].value_counts()
plt.pie(counts , labels = ["Male","Female"] , startangle=90 , shadow=True)
plt.title("Gender distribution")
plt.savefig("finalimage.jpg")

In [ ]:
top= df['occupation'].value_counts().head(10)

plt.bar(top.index , top.values) 
plt.xticks(rotation = 90)
plt.title("top 10 occupations")
plt.xlabel("Occupation")
plt.ylabel("Count")
plt.show()

In [ ]:
plt.hist(df['age'],bins = 20)
plt.xlabel("Age")
plt.ylabel("Count")
plt.show()

In [ ]:
#%pip install seaborn

In [ ]:
import seaborn as sns

In [ ]:
sns.histplot(x = 'age' , data = df , bins = 20)
plt.title("Age distribution")
plt.xlabel("Age")
plt.ylabel

In [ ]:
sns.countplot(x = 'gender', hue = "income", data=df)
plt.title("Income by gender")
plt.xlabel("Gender")
plt.ylabel("Count")

In [ ]:
sns.countplot(x = 'income', data=df)
plt.title("Income disbribution")
plt.xlabel("Income")
plt.ylabel("Count")